# Environment variables
.env*
*.env

# Dialogflow Key (if in root)
dialogflow_key.json

# Python runtime files & virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# Docker data
postgres-data/

# IDE / Editor / OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Optional: Local Uploads (if you don't want to commit test uploads)
# uploads/